<% cache @product do %>
<h1> <%= @product.name %> </h1>
<% end %>

<% if authenticated? %>
<%= link_to 'edit', edit_product_path %>
<%= button_to 'Delete', @product, method: :delete, data: {turbo_confirm: 'Are you sure? '} %>
<% end %>


<%= link_to "Back", products_path%>
